################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dmnWarp/v15
/.vs/SpielauswertungMapping/v15
/.vs
